form{
    width: 100%;
}

.form-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.form-group{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: start;
    gap: 10px;
    color: #666;
    flex :1;
    flex-direction: column;
    
    .form-control{
        display: block;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
}
input,select{
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    min-width: 150px;
   width: 100%;
    &:focus{
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0,123,255,.5);
    }

}

input.error,select.error{
    border-color: red;
    box-shadow: 0 0 5px rgba(255,0,0,.5);
}

.form-group .error{
    color: red;
    margin-top: 5px;
}