footer{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}