.btn{
    border:none;
    --btn-padding:.5rem 1rem;
    display: inline-block;
    margin: .4rem;
    font-size: var(--btn-size);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: var(--btn-padding);
}

.btn-primary{
    background-color: #0984e3;
    color: white;
}

.btn-success{
    background-color: #00b894;
    color: white;
}

.btn-danger{
    background-color: #e74c3c;
    color: white;
}

.btn-warning{
    background-color: #f1c40f;
    color: white;
}

.btn-info{
    background-color: #dfe6e9;
    color: white;
}

.btn-small{
    --btn-size: 0.8rem;
    --btn-padding: .5rem 1rem;
}
.btn-medium{
    --btn-size: 1rem;
    --btn-padding: 1rem 1.5rem;
}
.btn-large{
    --btn-size: 1.2rem;
    --btn-padding: 1.5rem 2rem;
}
.btn-normal{
    --btn-size: 1rem;
    --btn-padding: 1rem 2rem;
}
.btn-extra-large{
    --btn-size: 1.5rem;
    --btn-padding: 2rem 3rem;
}

.btn:hover{
    opacity: .5;
}

.btn:active{
    opacity: .5;
}
.btn-block{
    width: 100%;
}